<header>
    <div class="header-container">
        <div class="left-section">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Future Wear Logo">
                </a>
            </div>
            <nav class="navbar">
                <a href="#new in">New in</a>
                <a href="#women">Women</a>
                <a href="#men">Men</a>
                <a href="#Category">Categories</a>
            </nav>
        </div>
        <div class="header-buttons">
            <a href="#cart" class="button">Cart – 0</a>
            <a href="#reservation" class="button">Reservation</a>
        </div>
    </div>
</header>
